{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


  <div class="navbar navbar-default navbar-fixed-top" id="menu_bar">
    <div class="col-md-12 column">
      <div class="row clearfix">
      <div class="col-md-2 column"> </div>
        <div class="col-md-8 column" id="buttons">
          <ul class="nav nav-pills">
            <li>
              <a href="/">Home</a></li>
            <li>
              <a href="{{SITE_URL}}/about">O mnie</a></li>
            <li>
            <a href="{{SITE_URL}}/blog">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-2 column">
        </div>

      </div>
    </div>
  </div>


{% block header %}<br>
<br>
<br><p></p>{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

<style>
body{
background: #99CCFF;
}
</style>
