{% extends "blog/includes/base.html" %}
<br>


{% block content %}

  {% if is_paginated %}
    <div class="col-md-12 column">
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blog/archive?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/blog/archive?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
  {% endif %}
<div class="col-md-3 column"> </div>
<div class="col-md-6 column">
{% if post_list != error404 %}
  {% for post in post_list %}
      <div class = "col-md-8 column" ></div>
  <div class = "col-md-4 column" ><br>{{post.pub_date}}</div>
    <div class="well well-lg"><a href="{{SITE_URL}}/post/{{post.slug}}"><h1>{{post.title}}</h1></a>
    <p> {{post.content|safe}} </p> </div>
  {% endfor %}


{% else %}
    <img src="{{MEDIA_URL}}/cat.jpg">
    <h1>Autor jeszcze nic nie napisał :-(</h1>
{% endif  %}
</div>
<div class="col-md-3 column"> </div>
{% endblock %}


