{% extends "blog/includes/base.html" %}
{% block content %}

{% if post != error404 %}
<h1></h1>
<div class="col-md-3 column"> </div>

<div class="col-md-6 column">

  <div class = "col-md-8 column" ></div>
  <div class = "col-md-4 column" ><br>{{post.pub_date}}</div>
  <div class="well well-lg"><a href="{{SITE_URL}}/post/{{post.slug}}">
  <h1>{{post.title}}</h1></a>
    <p> {{post.content|safe}} </p> 
        <div class="col-md-8 column"></div>

    <div class="col-md-2 column">
      <div class="btn-group">
        <a href="{{SITE_URL}}/blog/"><button type="button" class="btn btn-default">Przeczytaj więcej wpisów</button></a>
      </div>
    </div>
  <br>

  </div>


</div>
<div class="col-md-3 column"> </div>


{% endif %}

{% endblock %}