{% extends "blog/includes/base.html" %}

{% block content %}
<div class="col-md-3 column"> </div>

<div class="col-md-6 column">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{flatpage.title}}</h3>
    </div>

    <div class="panel-body">
      {{flatpage.content|safe}}
    </div>
  </div>
</div>
<div class="col-md-3 column"></div>
{% endblock %}
